.guide-list{
  padding: 22px 0 30px 0;
}

.guide-list__title{
  font-size: 26px;

  margin-bottom: 12px;
}

.guide-list__subtitle{
  font-weight: 300;
  font-size: 14px;
}

.custom-table-thead{

  th{
    font-weight: 600;
  }

}

.custom-table-tboby{

  td{
    font-size: 15px!important;
  }

  a{
    color: #212529;

    &:hover{
      text-decoration: none;
      color: $red;
    }
  }
}
