.guide-item{
  padding: 22px 0 30px 0;
}

.guide-item__title{
  font-size: 26px;

  margin-bottom: 30px;
}

.guide-item__list{
  list-style: none;
  padding: 0;
  margin: 0;
}

.guide-item__subtitle{
  font-size: 20px;

  margin-bottom: 24px;
}

.guide-item__item{
  margin-bottom: 30px;
}

.guide-item__description{

}

.guide-item__pre{
  background-color: #f3f3f3;
}

.guide-item__type-text{

  .custom-table-tboby & {
    font-size: 14px!important;
  }

}

.guide-item__type{
  display: block;

  font-weight: 600;
  font-size: 14px;
}

.guide-item__btn{
  padding: 7px 11px 9px 11px;

  text-decoration: none;

  color: #dc3545;

  border: 1px solid #dc3545;
  border-radius: 6px;

  transition: color 0.2s ease, background-color 0.2s ease;

  &:hover{
    color: #fff;
    background-color: $red;
    outline: 0;
  }

  &:active{
    opacity: 0.8;
  }
}
